@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-onyx-regular: 'Onyx SemiMono Regular', monospace;
  --font-onyx-black: 'Onyx SemiMono Black', monospace;
}

@layer base {
  * {
    border-color: #E5E5E5;
  }
  
  body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: var(--font-onyx-regular), monospace;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-onyx-black), monospace;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
